<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendador de Tareas Temporal</title>
    <link rel="stylesheet" href="static/css/estilos.css">
</head>
<body>
    <div class="container">
        <h1>Agendador de Tareas</h1>
        <h2>Agregue tareas temporales y marquelas cuando las hayaa completado</h2>
        <div id="todos"></div>
        <form id="todoForm">
            <input type="text" id="tarea" placeholder="tarea">
            <button type="submit">añadir tarea</button>
        </form>
    </div>
    <script src="static/js/main.js"></script>
</body>
</html>
